.header-Cases{
display: flex;
flex-wrap: wrap;
width: 100vw;
padding: 30px;
background-color: #99ccff;
justify-content: space-around;
align-items: center;

}

.header-Cases .search-cases {
    display: flex;
    padding: 20px;
    width: 540px;
    justify-content: space-between;
    align-items: center;
}

.header-Cases .search-cases button{
    background: none;
    outline: none;
    margin-left: 20px;
}

.header-Cases .search-cases img{
    width: 60px;
    height: 60px;
}

.header-Cases .search-cases input {
    width: 100%;
    display: flex;
    min-width: 150px;
    height: 40px;
    margin-left: 30px;
    border: solid 2px #6699cc ;
    border-radius: 4px;
    font-size: 18px;
    padding: 5px;
    outline: none;
}



.body-Case{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 30px;
   
    background-color: #e5e5e5;
}