.header-Cases{
display: flex;
flex-wrap: wrap;
width: 100%;
padding: 30px;
background-color: white;
justify-content: space-around;
align-items: center;

}

.header-Cases .search-cases {
    display: flex;
    padding: 20px;
    width: 650px;
    justify-content: space-between;
    align-items: center;
}

.header-Cases .search-cases button{
    background: none;
    outline: none;
    margin-left: 20px;
}

.header-Cases .search-cases img{
    width: 60px;
    height: 60px;
}

.header-Cases .search-cases input {
    width: 100%;
    display: flex;
    height: 40px;
    margin-left: 30px;
    border: solid 2px #6699cc ;
    border-radius: 4px;
    font-size: 18px;
    padding: 5px;
    outline: none;
}

.logout-but{
    width: 150px ;
    height: 48px;
    color: #7f97af;
    font-weight: bold;
    border: solid 2px #0066cc;
    border-radius: 4px;
    transition: all 0.4s;
    font-size: 18px;
}

.logout-but:hover{
    background-color: #0066cc;
    color: white;
}

.body-Case{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: scroll;
}