.container-master-case{
    background-image: url("../../../images/template-master-cases.gif");
    background-size: cover;
    width: 100vw;
  
}

.container-master-case .header-Cases{
display: flex;
flex-wrap: wrap;
width: 100vw;
justify-content: space-around;
align-items: center;

}

.header-Cases .search-cases {
    display: flex;
    padding: 30px;
    width: 540px;
    justify-content: space-between;
    align-items: center;
}

.header-Cases .search-cases button{
    background: none;
    outline: none;
    margin-left: 20px;
}

.header-Cases .search-cases img{
    width: 60px;
    height: 60px;
}

.header-Cases .search-cases input {
    width: 100%;
    display: flex;
    min-width: 150px;
    height: 35px;
    margin-left: 30px;
    box-shadow: 2px 2px 2px#333333;
    border-radius: 4px;
    font-size: 18px;
    padding: 5px;
    outline: none;
}



 .body-Case{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    
   
   
}