.main-header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    
   
}
.main-header .cadastro-entry{
    margin-right: 10%;
    margin-left: 20px;
    display: flex;
    width: 270px;
    justify-content: space-between;
    align-items: center;
}

.main-header .cadastro-entry .link-entry{
    text-decoration: none;
    display: flex;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    color: #0066cc;
    font-weight: bold;
    font-size: 20px;
    border: solid 1px #0066cc;
    transition: all 0.4s;
}

.main-header .cadastro-entry .link-cadastro {
    text-decoration: none;
    color: #0066cc;
    font-size: 20px;
}

.main-header .cadastro-entry .link-entry:hover{
    background-color: #0066cc;
    color: white;
}

.body-infors {
    display: flex;
    height: 450px;
    margin-top: 40px;
    justify-content:space-between;
    background-color: #fafafa;
}
.body-infors .about-we {
    margin-right: 100px;
    margin-left: 15px;
}

.body-infors .about-we h1{
    color: #003366;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.body-infors .body-contato {
    margin-top: 30px;
    
}