body{
    background-color: #f4f4f4;
    overflow: scroll;
}

.body-login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
.body-login .logo-form{
    display: flex;
    max-width: 360px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.body-login .logo-form .form-login {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 330px;
  
    
}
.body-login .logo-form .form-login input{
    height: 45px;
    display: flex;
    margin-top: 20px;
    border-radius: 2px;
    border: solid 1px grey;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 4px;
    outline-color: #6699cc;
    outline-width: 2px;
    transition: all 0.3s;
}

.body-login .logo-form .form-login .link-entrar {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: #0066cc ;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 2px;
    font-size: 20px;
    transition: filter 1s;
}

.body-login .logo-form .form-login .link-entrar:hover{
    filter: brightness(85%);
}

.body-login .logo-form .form-login .link-cadastrar {
    text-decoration: none;
    font-weight: 500;
    color: #003366;
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 
