.body-main {
    display: flex; 
   
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
}

.body-title {
    display: flex;
}

.body-title .title {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
}


.body-title .title strong {
    color: #003366;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  
}

.body-form{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-height: 600px;
    max-height: 850px;
    padding: 20px;
}
.body-form input {
    margin: 20px auto;
    padding: 4px;
    width: 270px;
    height: 45px;
    background-color: #f6f6f6;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 2px;
    border: solid 1px #000033;
    outline: none;
    
}

.body-form button {
    margin-top: 10px;
    width: 280px;
    height: 50px;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    border: solid 2px #6699ff;
    background-color: #6699ff;
    transition: all 0.4s;
    outline: none;
    
}

.body-form button[disabled]{
    border: solid 3px #a8a8a8;
    color:#828282;
    background:#eeeeee;
}

.body-form button:active{
    box-shadow: none;
    margin-top: 11px;
}

.body-form a {
    text-decoration: none;
    color: #003366;
    font-weight: 600;
}



