.body-main {
    display: flex; 
    background-color: #0099cc;
    
}
.logo{
    background-color: #003366;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    padding: 60px;
}

.title{
    max-width: 700px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006699;
}

.title strong{
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 260px; 
    margin-right: 20px;
}

.body-form{
    
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-height: 600px;
    max-height: 850px;
    padding: 20px;
}
.body-form input {
    margin: 20px auto;
    padding: 4px;
    width: 270px;
    height: 40px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 2px;
    border: solid 1px #000033;
    outline: none;
    
}

.body-form button {
    margin-top: 10px;
    width: 280px;
    height: 50px;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    border: solid 2px #6699ff;
    background-color: #6699ff;
    transition: all 0.4s;
    outline: none;
    
}

.body-form button[disabled]{
    border: solid 2px gray;
    color: gray;
    background:white;
}

.body-form button:active{
    box-shadow: none;
    margin-top: 11px;
}

.body-form a {
    text-decoration: none;
    color: #003366;
    font-weight: 600;
}



