.body-register {
    display: flex;
    width: 100%;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dfdfdf;
    
}

.Title {
    max-width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #003366;
    font-weight: bold;
    line-height: 55px;
    margin-bottom: 20px;
}

.body-form-ongs form{
    display: flex;
    max-width: 700px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    
}

.body-form-ongs .style-inputs {
    width: 300px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid  #707070;
    outline: none;
    border-radius: 2px;
}

.body-form-ongs select {
    width: 300px;
    height: 57px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid  #707070;
    outline: none;
    border-radius: 2px;
}

.body-form-ongs .but-register {
    display: flex;
    width: 93%;
    height: 60px;
    border: 2px solid #0099ff;
    background-color: #0099ff ;
    border-radius: 4px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
    color: white ;
    transition: all 0.6s;
    
}



.body-form-ongs button[disabled]{
    background-color: white;
    border: solid #d1d1d1 2px;
    
    color: grey;
}

