*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    border:0;
    
}


.toast-container{
    padding: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .toast-container .toast-error {
    
     max-width: 300px ;
     min-width: 180px;
     padding: 5px;
     background-color: #ff6666;
     font-size: 15px; 
     font-weight: bold;
     color: white;
     border-radius: 4px;
 }

 .toast-container  .icon-text{
     display: flex;
     max-width: 280px;
     min-width: 180px;
     padding: 5px;
     justify-content: space-around;
     align-items: center;
 }

 .toast-container .toast-success{
    max-width: 280px ;
    min-width: 180px;
    background-color: #3366cc;
    color: white;
    font-weight: bold;
    font-size: 15px; 
    padding: 5px;
    border-radius: 4px;
}

.toast-container .toast-disconnect{
    
    color: white;
    background-color: #333333;
    font-size: 17px;
    padding: 5px;
    border-radius: 4px;
}

.logout-but{
    width: 130px ;
    height: 48px;
    color: #0066cc;
    font-weight: bold;
    border: solid 2px #0066cc;
    border-radius: 8px;
    transition: all 0.4s;
    font-size: 18px;
    
}

.logout-but:hover{
    background-color: #0066cc;
    color: white;
}

.buttons-paginate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.buttons-paginate .but-paginate{
        width: 120px;
        height: 45px;
       
        text-align: center;
        background-color: #000033;
        padding: 5px;
        border-radius: 8px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        
}

.buttons-paginate .but-paginate[disabled]{
   background-color: #aaaaaa;
 
}