.body-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-left{
    height: 100vh;
    width: 45vw;
    background-image: url("../../images/background-main.jpg");
}

.body-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 20px;
    color: #003366;
    width: 55vw;
    height: 100vh;
    
}